{% include "htmltop.html" %}
<div class="main-div">
<center style="margin-top:30px;width:90%;margin:auto;">
					<img src="/static/images/kj.jpg" height=400px width=80%><br>
			<div style="text-align:justify;margin-top:10px;" >
				We are happy to announce that  we are dealing with kitchen appliances of all leading brands like Preethi, Butterfly, Prestige, Premier, Cello, Eagle, Crompton greaves, Philips, Bajaj, Signoraware, Hawkins etc. for the past two decades. Our showroom is the most popular in and around Tirupur district for its BEST QUALITY and LEAST PRICE.<br><br>
						The proprieter of K.J HOME APPLIANCE Mr.M.KARUPPUSAMY ,  has brought this showroom No.1 in Tirupur due to his dedication, efficiency and hardwork. He has realised that a customer is the most important person and so he trained all his staff to reach the ultimate goal ”CUSTOMER SATISFACTION” and this the only reason for the stability of this showroom. <br><br>
								All the new products launched by any of the leading brands will be introduced first and foremost in our showroom.<br><br>
										The management thanking wholeheartedly for the support rendered by the customers for the past years and we expect the same in future too.<br>
										</div>
										</center>
					</div>
{% include "htmlbottom.html" %}
