{% include "htmltop.html" %}
<div class="main-div">
	<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<iframe width=100% height=415px  align="center" src="//www.youtube.com/embed/9EJizbTZRC0" frameborder="0" allowfullscreen></iframe>


</div>
	<div class="col-md-2">
	</div>

</div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<center>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3914.9845751390308!2d77.3383557!3d11.114526499999993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba907ac7513845f%3A0xe042cf94dfe6d955!2sRam+Nagar+3rd+St%2C+Ram+Nagar%2C+Tiruppur%2C+Tamil+Nadu+641602!5e0!3m2!1sen!2sin!4v1414059044913" width="40%" height="300" frameborder="0" style="border:0"></iframe>
					<div class="fb-like-box" data-href="https://www.facebook.com/kjhomeappliance" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true" style="margin-left:2%;margin-top:0px;"></div>
			</center>
		</div>
	</div>
</div>


{% include "htmlbottom.html" %}
